@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.left {
  width: 25%;
  float: left;
  border: 1px solid #ffffff;
}

.center {
  width: 50%;
  float: left;
  border: 1px solid #ffffff;
}

.right {
  width: 25%;
  float: left;
  border: 1px solid #ffffff;
}

.mb {
  text-align: center;
  width: 31.65656565656%;
  float: left;
  background-color: silver;
  font-family: Quicksand, sans-serif;
}

.mb a {
  display: block;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  color: #f2f2f2;
  padding: 10px 5px;
}

.mb a:hover {
  color: white;
  background-color: #9D2235;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
}

/*============
Main page attels
=============*/
.img-main {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-left: 2px;
  margin-right: 2px;
  width: 30%;
  box-shadow: 1px 1px 10px darkgray;
}

.images {
  text-align: center;
}

/*==================
In-page menu hoovers
===================*/

.inpage {
  background-color: #ba7782;
}

/*=================
Homepage ikona
==================*/
.hmp {
  text-align: center;
  width: 5%;
  float: left;
}

.hmp a {
  display: block;
  text-align: center;
  color: #f2f2f2;
  min-width: 54px;
}

.hmp a:hover {
  background-color: #9D2235;
}

/*=================
Bilzu overlay info
==================*/
.ovoverlay {
  bottom: 1; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 60%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Assistant', sans-serif;

}

.images:hover .ovoverlay {
  opacity: 1;
}



@media only screen and (max-width: 1210px) {

  .img-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 60%;
  }

  /*
  .left, .center, .right, .mb {
    width: 100%;
  } 
  */

  .left {
    width: 20%;
    float: left;
    border: 1px solid #ffffff;
  }

  .center {
    width: 60%;
    float: left;
    border: 1px solid #ffffff;
  }

  .right {
    width: 20%;
    float: left;
    border: 1px solid #ffffff;
  }

  .mb {
    width: 100%;
  }
}



@media only screen and (max-width: 768px) {
  h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 90px;
    text-align: center;
  }

  .img-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 95%;
  }

  .left {
    width: 20%;
    float: left;
    border: 1px solid #ffffff;
  }

  .center {
    width: 60%;
    float: left;
    border: 1px solid #ffffff;
  }

  .right {
    width: 20%;
    float: left;
    border: 1px solid #ffffff;
  }

  .mb {
    width: 100%;
  }

  .ovoverlay {
    width: 95%;
  }
}



@media only screen and (max-width: 600px) {
  h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    text-align: center;
  }

  .img-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 95%;
  }

  .left {
    width: 2%;
    float: left;
    border: 1px solid #ffffff;
  }

  .center {
    width: 98%;
    float: left;
    border: 1px solid #ffffff;
  }

  .right {
    width: 2%;
    float: left;
    border: 1px solid #ffffff;
  }

  .mb {
    width: 98%;
  }
}